button#start_drill_button {
  background: green;
}

button {
  min-height: 40px;
}

button#abort_button {
  color: white;
  background: red;
}

.direction_button {
  min-width: 100px;
}

.foo {
  background: white;
  color: black;
}
